@import '../public/style/green.css';

body {
  font-family: var(--ds-font-family), sans-serif;
  font-optical-sizing: auto;
  font-feature-settings: "cv05" 1; /* Enable lowercase l with tail */
}

/* Remove extra padding to display footer and header more accurate in Preview mode */
.sb-main-padded:has(.header, .footer) {
  padding: 0;
}

/* Remove extra padding to display footer and header more accurate in Docs stories */
.sbdocs .docs-story {
  &:has(.footer) {
    padding: 0;
  }

  /* Some of our header stories are rendered in iframes in order to scale correctly.
  We use the catch-all :has(iframe) selector to enforce correct padding/borders for the header stories  */
  &:has(.header), &:has(iframe) {
    padding: 0 0 var(--ds-size-8);

    & .innerZoomElementWrapper > div:first-child {
      /* Override !important Storybook border rule */
      border-block: none !important;
    }

    /* Turn off Header scroll-awareness in Docs stories */
    .header {
      transform: none;
    }
  }
}
