/* clamp() viewport width-values are based on clamp max / 1296px * 100  */

.footer {
  --kvdsc-footer-column-gap: clamp(var(--ds-size-10), 9.259cqw, var(--ds-size-30)); /* Scaling gap size instead of media queries */
  --kvdsc-footer-row-gap: var(--ds-size-10);

  background: var(--ds-color-neutral-background-tinted);
  border-top: 8px solid var(--ds-color-accent-border-default);
  box-sizing: border-box;
  container-type: inline-size;
}

.footer-container {
  max-width: var(--kvdsc-footer-max-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start; 
  row-gap: var(--kvdsc-footer-row-gap);
  column-gap: var(--kvdsc-footer-column-gap);

  box-sizing: content-box;
  padding: var(--ds-size-10) var(--kvds-layout-padding-inline);
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--kvdsc-footer-row-gap);
  column-gap: var(--kvdsc-footer-column-gap);
  justify-content: flex-start;
  flex: 1 auto;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: var(--ds-size-4);
  align-content: start;
}

.footer-item {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-size-1);
}

.footer-logo {
  height: var(--ds-size-10);
  width: auto;
  display: block;
}
