/* TODO: se over navngiving, bruke - eller __ ? */

.footer {
  background: var(--ds-color-neutral-background-tinted);
  padding: var(--ds-size-10) var(--ds-size-18);
  border-top: 8px solid var(--ds-color-accent-border-default);
  box-sizing: border-box;
}

/* TODO: hva er maxWidth på resten av innholdet?? 
KVIB har 1200, udir bruker 80rem (1280px), 
Eiendomsregisteret har 1200px på header og 1140px? på footer, 
KArtverket.no har 1500px og 1400px */
.footer-container { /* det udir har som div */
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; 
  gap: var(--ds-size-10);
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-size-10);
  justify-content: space-evenly;
  flex: 1;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-3);
  align-items: flex-start;
}

.footer-item {
  display: flex;
  gap: var(--ds-size-1);
}

.footer-logo {
  height: var(--ds-size-10);
  width: auto;
  display: block;
}

/* TODO: til tablet, hva er en god størrelse? */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-columns {
    justify-content: flex-start;
  }

  .footer-item {
    flex-wrap: wrap;
  }
}

/* TODO: til mobil, hva er en god størrelse? */
@media (max-width: 480px) {
  .footer {
    padding: var(--ds-size-10) var(--ds-size-6);
  }
}
