.header {
  --kvdsc-header-height: var(--ds-size-26);
  background: var(--ds-color-neutral-background-default);
  padding-block: 0;
  padding-inline: clamp(var(--ds-size-base) * 1px, calc(5.625vw / 2), var(--ds-size-18)); /* Scaling padding instead of media queries*/
  height: var(--kvdsc-header-height);
  box-sizing: border-box;

  border-bottom: var(--ds-color-neutral-border-subtle) solid var(--ds-border-width-default);

  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.2s ease-in-out 0.1s;
  &.visible {
    transform: translateY(0);
  }
  &.hidden {
    transform: translateY(-100%);
  }
}

.header-container {
  max-width: 1296px;
  min-width: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(clamp(var(--ds-size-base) * 1px, 5.625vw, var(--ds-size-18))); /* Scaling gap size instead of media queries */
}

.header-brand {
  display: flex;
  align-items: center;
  gap: calc(clamp(var(--ds-size-3), 1.5625vw, var(--ds-size-5))); /* Scaling gap size instead of media queries */

  a {
    color: var(--ds-color-neutral-text-default);
    text-decoration: none
  }

  a:hover {
    text-decoration: underline;
  }
}

.header-logo {
  height: var(--ds-size-10);
  width: auto;
  /* display: block; */
}

/* Default */
.header-logo--full {
  display: block;
}

.header-logo--icon {
  display: none;
}

.header-divider {
  width: var(--ds-border-width-default);
  height: 34px;
  background-color: var(--ds-color-neutral-border-subtle);
}

.header-content {
  display: flex;
  gap: calc(clamp(0, 1.5625vw, var(--ds-size-5))); /* Scaling gap size instead of media queries */

  * { 
    flex-wrap: nowrap;
    flex-shrink: 0;
  }
}

.header-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: var(--ds-size-5)
}

.header-nav-item a{
  justify-content: left;

  &[aria-current]:not([aria-current='false']) {
    background-color: var(--dsc-button-background--hover);
    color: var(--dsc-button-color--hover);
  }
}

.header-menu {
  max-height: calc(100vh - var(--kvdsc-header-height));
  padding: var(--ds-size-6) clamp(var(--ds-size-base) * 1px, calc(5.625vw / 2), var(--ds-size-18)); /* Scaling padding instead of media queries*/
  border: none;
  box-shadow: none;
  position: fixed;
  box-sizing: border-box;
  overflow-y: auto;
  inset-inline-start: 0;

  /* Position menu at the bottom edge of the header content. */
  inset-block-start: var(--kvdsc-header-height);

  &::backdrop {
    margin-block-start: var(--kvdsc-header-height);
  }
}

.header-menu-content {
  max-width: 1296px;
  display: grid;
  row-gap: var(--ds-size-4);
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  container-type: inline-size;
  container-name: header-menu-content;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--ds-size-3) var(--ds-size-5);
  }
}

.header-menu-actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--ds-size-3) var(--ds-size-5);
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;

  * {
    width: fit-content;
  }
}

.header-menu-button {
  > svg:first-of-type {
    display: block;
  }

  > svg:last-of-type {
    display: none;
  }

  &:has(+ .header-menu:open) {
    > svg:first-of-type {
      display: none;
    }
    > svg:last-of-type {
      display: block;
    }
  }
}

@media (width <= 768px) {
  .header {
    --kvdsc-header-height: var(--ds-size-22);
  }
  
  .header-logo {
    height: var(--ds-size-8);
  }

}

@media (width <= 480px) {
  .header {
    --kvdsc-header-height: var(--ds-size-18);
  }

  .header-logo--full {
    display: none;
  }

  .header-logo--icon {
    display: block;
  }

  .header-menu-button {
    gap: 0;

    span {
      font-size: 0px;
    }
  }

}

@container header-menu-content (width < 768px) {
  div.header-menu-actions {
    justify-content: flex-start;
  }
}

/* Show element from size */
[data-show-from='sm'] {
  @media (width <= 480px) {
    display: none;
  }
}
[data-show-from='md'] {
  @media (width <= 768px) {
    display: none;
  }
}
[data-show-from='lg'] {
  @media (width <= 1024px) {
    display: none;
  }
}

/* Hide element from size */
[data-hide-from='sm'] {
  @media (width > 480px) {
    display: none;
  }
}
[data-hide-from='md'] {
  @media (width > 768px) {
    display: none;
  }
}
[data-hide-from='lg'] {
  @media (width > 1024px) {
    display: none;
  }
}
