.header {
  --kvdsc-header-height: var(--ds-size-26);
  background: var(--ds-color-neutral-background-default);
  padding: 0 var(--ds-size-18);
  height: var(--kvdsc-header-height);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.2s ease-in-out 0.1s;
  &.visible {
    transform: translateY(0);
  }
  &.hidden {
    transform: translateY(-100%);
  }
}

.header-container {
  max-width: 1296px;
  min-width: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ds-size-18);
}

.header-brand {
  display: flex;
  align-items: center;
  gap: var(--ds-size-5);

  a {
    color: var(--ds-color-neutral-text-default); /* TODO: hvilken farge?*/
    text-decoration: none
  }

  a:hover {
    text-decoration: underline;
  }
}

.header-logo {
  height: var(--ds-size-10);
  width: auto;
  display: block; /* Fjerner automatisk link-spacing under logo */
}

/* TODO: width og height i --ds-size variabler, hva skal width være? size-8 (32px) size-9 (36px)*/
.header-divider {
  width: 1px;
  height: 34px;
  background-color: var(--ds-color-neutral-border-subtle);
}

.header-content {
  display: flex;
  gap: var(--ds-size-5);

  /* Pass på så den ikke wrapper! Sjekk Logg inn-knapp */
  * { 
    flex-wrap: nowrap;
    flex-shrink: 0;
  }
}

.header-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: var(--ds-size-5)
}

.header-nav-item {
  /* display: flex; */
}

.header-menu {
  max-width: 100vw;
  /* all: unset; */
  display: none;
  /* padding: var(--ds-size-10) 0; */
  width: 100%;
  /* border: none; */
  box-shadow: none;
  position: fixed;
  /* left: 0;
  right: 0; */
  /* max-width: 100%; */
  box-sizing: border-box;
  overflow: hidden;
  /* position: fixed; */
  inset-inline-start: 0;
  /* Position menu at the bottom edge of the header content.
  paddingY = (headerHeight - buttonHeight(md)) / 2
  Round down to whole px to avoid subpixel jitter, then subtract by default dropdown offset */
  inset-block-start:  calc(
    round(down, (var(--kvdsc-header-height) - var(--ds-size-12)) / 2, 1px) + var(--kvdsc-header-height) - var(--ds-size-3)
  );
  /* inset-block-start:  var(--kvdsc-header-height); */

  &:popover-open {
    /* translate: 0 0; */
    display: block;
  }
}

.header-menu-content {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 var(--ds-size-18);
  box-sizing: border-box;
  container-type: inline-size;
  container-name: header-menu-content;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--ds-size-5);
  }
}

.header-menu-actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--ds-size-5);
  padding: var(--ds-size-6) 0;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;

  * {
    width: fit-content;
  }
}

.header-menu-button {
  > svg:first-of-type {
    display: block;
  }

  > svg:last-of-type {
    display: none;
  }

  &:has(+ [popover]:popover-open) {
    > svg:first-of-type {
      display: none;
    }
    > svg:last-of-type {
      display: block;
    }
  }
}

@media (width <= 768px) {
  .header {
    --kvdsc-header-height: var(--ds-size-22);
    padding: var(--ds-size-3) var(--ds-size-6);
  }

  .header-container {
    gap: var(--ds-size-6);
  }

  .header-brand {
    gap: var(--ds-size-4);
  }
  
  .header-logo {
    height: var(--ds-size-8);
  }
}

@media (width <= 480px) {
  .header {
    --kvdsc-header-height: var(--ds-size-18);
  }
}

@container header-menu-content (width < 420px) {
  div.header-menu-actions {
    justify-content: flex-start;
  }
}

/* Show element from size */
[data-show-from='sm'] {
  @media (width <= 480px) {
    display: none;
  }
}
[data-show-from='md'] {
  @media (width <= 768px) {
    display: none;
  }
}
[data-show-from='lg'] {
  @media (width <= 1024px) {
    display: none;
  }
}

/* Hide element from size */
[data-hide-from='sm'] {
  @media (width > 480px) {
    display: none;
  }
}
[data-hide-from='md'] {
  @media (width > 768px) {
    display: none;
  }
}
[data-hide-from='lg'] {
  @media (width > 1024px) {
    &:popover-open {
    display: none;
  }
    display: none;
  }
}
