.header {
  background: var(--ds-color-neutral-background-default);
  padding: 0 var(--ds-size-18);
  height: var(--ds-size-26);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.2s ease-in-out 0.15s;
  &.visible {
    transform: translateY(0);
  }
  &.hidden {
    transform: translateY(-100%);
}

  /* * {
    outline: 1px solid red;
  } */
}

.header-container {
  max-width: 1296px;
  min-width: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ds-size-18);

  /* * {
    min-width: 0;
  } */
}

.header-brand {
  display: flex;
  align-items: center;
  gap: var(--ds-size-5);

  a {
    color: var(--ds-color-neutral-text-default); /* hvilken farge?*/
    text-decoration: none
  }

  a:hover {
    text-decoration: underline;
  }
}

.header-logo {
  height: var(--ds-size-10);
  width: auto;
  display: block; /* Fjerner automatisk link-spacing under logo */
}

/* TODO: width og height i --ds-size variabler, hva skal width være? size-8 (32px) size-9 (36px)*/
.header-divider {
  width: 1px;
  height: 34px;
  background-color: var(--ds-color-neutral-border-subtle);
}

.header-content {
  display: flex;
  align-items: flex-end;
  gap: var(--ds-size-5);

  /* Pass på så den ikke wrapper! Sjekk Logg inn-knapp */
  * { 
    flex-wrap: nowrap;
    flex-shrink: 0;
  }
}

.header-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
  gap: var(--ds-size-5)
}

.header-nav-item {
  /* display: flex; */
}

@media (max-width: 768px) {
  .header {
    padding: var(--ds-size-3) var(--ds-size-6);
    height: var(--ds-size-22);
  }

  .header-container {
    gap: var(--ds-size-6);
  }

  .header-brand {
    gap: var(--ds-size-4);
  }
  
  .header-logo {
    height: var(--ds-size-8);
  }
}

@media (max-width: 480px) {
  .header {
    height: var(--ds-size-18);
  }
}
