.grid {
  margin-top: var(--ds-size-14);
  display: grid;
  grid-gap: var(--ds-size-8);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 290px), 1fr));

  /* &[data-index='0'] {
    padding-top: var(--ds-size-13);
  } */
}
